.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: var(--radius);
  font-size: 1rem;
  transition: border-color 0.2s;
  width: 200px;
  padding-bottom: 5px;
}

.errorInput {
  border-color: var(--danger);
}

.errorMessage {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--foreground);
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  border: #131313;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  border: 1px solid #434242;
  border-radius: var(--radius);
  background-color: #f6eded;
  padding: 5px;
}
